/* app css stylesheet */

body {
	font-size: 10pt;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.error {
	font-style: italic;
	color: red;
}

tr:nth-child(even) {
	background-color: #DDDDFF;
}

span.name {
	margin: 5px;
	padding-left: 7px;
	padding-right: 7px;
	background-color: yellow;
	border-radius: 5px;
}

span.btnDelete {
	font-weight: normal;
}

span.btnDelete:hover {
	font-weight: bold;
	cursor: pointer;
}

.select-list {
	display: inline-block;
	background-color: #ffffff;
	font-weight: bold;
	border: 1px solid #8699a4;
	margin: 2px;
	padding: 2px;
}

.select-list.selected {
	background-color: #dddddd;
	border: 2px solid #000000;
	font-weight: normal;
}

pre {
	font-size: 0.65em;
}
