<h2>Manage Documents</h2>
<p>The following documents are available.</p>
<div>
	<table>
		<thead>
		<tr>
			<th>Action</th>
			<th>Doc ID</th>
			<th>File</th>
			<th>Pages/References</th>
		</tr>
		</thead>
		<tfoot>
		<tr>
			<td>Upload new</td>
			<td>
				<form id="documentForm" action="document.php" method="POST">
					<input type="file" multiple nist-file-upload>
				</form>
			</td>
			<td></td>
		</tr>
		</tfoot>
		<tbody>
		<tr ng-hide="documents.length > 0"><td colspan="3"><em>No items to display</em></td></tr>
		<tr ng-repeat="item in documents">
			<td>
				<button ng-click="deleteDocument(item)" nist-button="ui-icon-circle-close">Remove</button>
			</td>
			<td>
				<button ng-click="selectDocument(item)" nist-button="ui-icon-info">Details</button>
				{{item.doc_id}}
			</td>
			<td><a href="serveDocument.php?id={{item.id}}" target="_blank">{{item.filename}}</a></td>
			<td>
				<div>
					{{item.num_pages}} pages, {{item.num_references}} references
					<button ng-click="item.detailsVisible=true" ng-hide="item.detailsVisible" nist-button="ui-icon-circle-triangle-e">Expand</button>
					<button ng-click="item.detailsVisible=false" ng-show="item.detailsVisible" nist-button="ui-icon-circle-triangle-s">Close</button>
				</div>
				<div ng-show="item.detailsVisible">
					Click on a page to select/deselect it
				</div>
				<div ng-show="item.detailsVisible">
					<div ng-click="togglePage(item,page)" ng-class="{selected:page.include}" class="select-list" ng-repeat="page in item.pages">
						Page {{page.page}} ({{page.num_references}})
						<button ng-click="viewPage(item,page,$event)" nist-button="ui-icon-circle-zoomin">View</button>
					</div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div ng-show="errors">
	<p class="error" ng-repeat="error in errors">{{error.message}}</p>
</div>
<div title="Document details" id="documentDetailPopup" nist-dialog="selectedDocument" nist-dialog-width="50%" nist-dialog-height="80%" ng-show="selectedDocument != null">
	<table>
		<thead>
		<tr>
			<th>Field</th>
			<th>Value</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in documentDetails">
			<td>{{item.name}}</td>
			<td>{{item.value}}</td>
		</tr>
		</tbody>
	</table>
</div>
<div title="Document text" nist-dialog="selectedPage" nist-dialog-width="700" nist-dialog-height="80%" ng-show="pageText != null">
	<div>
		<button ng-click="firstPage()" nist-button="ui-icon-seek-first">First
		</button><button ng-click="prevPage()" nist-button="ui-icon-seek-prev">Back
		</button><button ng-click="nextPage()" nist-button="ui-icon-seek-next">Next
		</button><button ng-click="lastPage()" nist-button="ui-icon-seek-end">Last</button>
		<span>Page {{selectedPage.page}} of {{selectedPage.document.num_pages}} ({{selectedPage.numReferences}} references)</span>
	</div>
	<pre style="overflow:scroll;height:80%;background-color:white">{{selectedPage.text}}</pre>
</div>
