<h2>Manage Documents</h2>
<p>The following documents are available.</p>
<div>
	<table>
		<thead>
		<tr>
			<th>Action</th>
			<th>Doc ID</th>
			<th>File</th>
		</tr>
		</thead>
		<tfoot>
		<tr>
			<td>Upload new</td>
			<td>
				<form id="documentForm" action="document.php" method="POST">
					<input type="file" multiple file-upload>
				</form>
			</td>
			<td></td>
		</tr>
		</tfoot>
		<tbody>
		<tr ng-hide="documents.length > 0"><td colspan="3"><em>No items to display</em></td></tr>
		<tr ng-repeat="item in documents">
			<td>
				<button ng-click="deleteDocument(item)">Remove</button>
				<button ng-click="selectDocument(item)" ng-help>Details</button>
			</td>
			<td>{{item.doc_id}} {{item.has_glossary}}</td>
			<td><a href="serveDocument.php?id={{item.id}}" target="_blank">{{item.filename}}</a></td>
		</tr>
		</tbody>
	</table>
</div>
<div ng-show="errors">
	<p class="error" ng-repeat="error in errors">{{error.message}}</p>
</div>
<div id="documentDetailPopup" ng-detail-dialog="selectedDocument" ng-controller="DocumentDetailController" ng-show="selectedDocument != null">
	<table>
		<thead>
		<tr>
			<th>Field</th>
			<th>Value</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in documentDetails">
			<td>{{item.name}}</td>
			<td>{{item.value}}</td>
		</tr>
		</tbody>
	</table>
</div>